.caption{
  font-family: Arial, sans-serif;
  color: white;
}
.section{
  background-color: blue;
}

.btn_goBack{
  border-radius: 60px 0px 0px 60px;
  &:hover{
    color: white;
    background: #282c34;
    cursor: pointer ;
  }
}